image:
- Visual Studio 2015
build:
    verbosity: detailed
environment:
  matrix:
    - BUILD_TYPE: 32bit
      QTPATH: 'C:\Qt\5.11\msvc2015'
      PYTHON_PATH: 'C:\Python37'
      PYTHON_LIB: 'C:\Python37\libs'
      GENERATOR: '"Visual Studio 14 2015"'
      VCREDIST13: vcredist_x86.exe
      VCREDIST15: vc_redist.x86.exe
      PYTHON_URL: "https://www.python.org/ftp/python/3.7.4/python-3.7.4.exe"
    - BUILD_TYPE: 64bit
      QTPATH: 'C:\Qt\5.11\msvc2015_64'
      PYTHON_PATH: 'C:\Python37-x64'
      PYTHON_LIB: 'C:\Python37-x64\libs'
      GENERATOR: '"Visual Studio 14 2015 Win64"'
      VCREDIST13: vcredist_x64.exe
      VCREDIST15: vc_redist.x64.exe
      PYTHON_URL: "https://www.python.org/ftp/python/3.7.4/python-3.7.4-amd64.exe"

install:
    - set INNOSETUPPATH=C:\Program Files (x86)\Inno Setup 5
    - set BINDIR=%APPVEYOR_BUILD_FOLDER%\build\Release\
    - set CLPATH="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.12.25827\bin\Hostx64\x64"
    - set Path=%QTPATH%;%QTPATH%/bin;%INNOSETUPPATH%;%PATH%

    - cd %APPVEYOR_BUILD_FOLDER%
    - set BUILD_CONF=build.conf
    - IF NOT EXIST build.conf ( set BUILD_CONF=build.conf.example )
    - for /f "delims=" %%x in (%BUILD_CONF%) do (set "%%x")
    - IF NOT EXIST deps\ ( mkdir deps )
    - cd deps
    ############################################################################
    # Install Engine Deps
    ############################################################################
    - ..\ci\appveyor\install.bat
    ############################################################################
    # Install Additional Project Deps
    ############################################################################
    - ..\%PROJECT_DIRECTORY%\ci\appveyor\install.bat

cache:
    - '%APPVEYOR_BUILD_FOLDER%\deps -> .appveyor.yml, **\install.bat'

before_build:
    - IF %APPVEYOR_REPO_TAG% == true (set VERSION=%APPVEYOR_REPO_TAG_NAME%) ELSE (set VERSION=snapshot-%APPVEYOR_BUILD_NUMBER%)
    - IF %APPVEYOR_REPO_TAG% == true (set HIDE_CONSOLE=1) ELSE (set HIDE_CONSOLE=0)

build_script:
    - cd %APPVEYOR_BUILD_FOLDER%
    - mkdir build
    - cd build
    - cmake .. -G %GENERATOR%
    - cmake --build . --config Release
    - cd %BINDIR%
    #- tests.exe

after_build:
    - cd %BINDIR%
    - set RELEASE_DIR_NAME=%PROJECT_NAME%-%VERSION%-windows-%BUILD_TYPE%
    - set RELEASE_DIR=%BINDIR%\%RELEASE_DIR_NAME%
    - mkdir %RELEASE_DIR_NAME%
    - cd %RELEASE_DIR_NAME%
    - mkdir platforms
    - mkdir imageformats
    - cd ..
    - copy %PROJECT_NAME%.exe %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Core.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Gui.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Widgets.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Svg.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5OpenGL.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5PrintSupport.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5MultimediaWidgets.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5QuickWidgets.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Multimedia.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Quick.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Sql.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5XmlPatterns.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Qml.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Network.dll %RELEASE_DIR%
    - copy %QTPATH%\bin\Qt5Xml.dll %RELEASE_DIR%
    - copy %QTPATH%\plugins\platforms\qwindows.dll %RELEASE_DIR%\platforms
    - copy %QTPATH%\plugins\imageformats\*.dll %RELEASE_DIR%\imageformats
    - copy %OPENVR_SHARED% %RELEASE_DIR%
    - copy %ASSIMP_SHARED% %RELEASE_DIR%
    - copy %LEAPMOTION_SHARED% %RELEASE_DIR%
    - copy %PYTHON_PATH%\python37.dll %RELEASE_DIR%
    - copy %PYTHONQT_SHARED% %RELEASE_DIR%
    - copy %PYTHONQT_QTALL_SHARED% %RELEASE_DIR%
    - cd ..
    - move data %RELEASE_DIR%
    - cd Release
    - ..\..\%PROJECT_DIRECTORY%\ci\appveyor\before_archiving.bat
    - 7z a -tzip %RELEASE_DIR_NAME%.zip %RELEASE_DIR%
    - IF "%BUILD_TYPE%" == "64bit" (set ARCH=/DX64) ELSE (set ARCH=/DX86)

    - set VCREDIST13_URL="https://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/%VCREDIST13%"
    - set VCREDIST15_URL="https://download.microsoft.com/download/9/3/F/93FCF1E7-E6A4-478B-96E7-D4B285925B00/%VCREDIST15%"
    - appveyor DownloadFile %VCREDIST13_URL% -FileName vcredist13.exe
    - appveyor DownloadFile %VCREDIST15_URL% -FileName vcredist15.exe
    - appveyor DownloadFile %PYTHON_URL% -FileName python.exe
    - iscc.exe %ARCH% /DPROJECT_NAME=%PROJECT_NAME% /DPROJECT_MAINTAINER=%PROJECT_MAINTAINER% /DEXTERNAL_VERSION=%VERSION% /DPROJECT_URL=%PROJECT_URL% /DLICENSE=%APPVEYOR_BUILD_FOLDER%\LICENSE /DROOT_DIR=%RELEASE_DIR% /DVCREDIST13=%RELEASE_DIR%/../vcredist13.exe /DVCREDIST15=%RELEASE_DIR%/../vcredist15.exe /DPYTHONREDIST=%RELEASE_DIR%/../python.exe %APPVEYOR_BUILD_FOLDER%\innosetup\config.iss
    - move %APPVEYOR_BUILD_FOLDER%\innosetup\Output\setup.exe %APPVEYOR_BUILD_FOLDER%\innosetup\Output\%RELEASE_DIR_NAME%_setup.exe
artifacts:
  - path: build\Release\*.zip
    name: zipfile
  - path: innosetup\Output\*.exe
    name: installer
deploy:
  provider: GitHub
  auth_token:
    secure: zl4QU+v4bBjyTAJkEVn7y1tBF63bC79DMH9rzcfYGMZnW8d1bDr8LWGHhNCrL44w
  artifact: zipfile, installer
  on:
    branch: master                 # release from master branch only
    appveyor_repo_tag: true        # deploy on tag push only
