PROJECT_NAME=HydrogenVR
PROJECT_URL="https://gitlab.com/Dexter9313/hydrogenvr"
PROJECT_DESCRIPTION="A C++ lightweight 3D rendering engine that tightly integrates VR at its core. It is based on OpenGL, Qt, OpenVR and the Leap Motion SDK."
PROJECT_MAINTAINER="Florian Cabot <florian.cabot@epfl.ch>"
PROJECT_DIRECTORY=example
PROJECT_CHECK_FORMAT=false
PROJECT_CHECK_TIDY=false
PROJECT_DOC=false
PROJECT_DOC_ENGINE=true
PROJECT_DOC_THIRDPARTY=false
PROJECT_TRANSLATE=true
PROJECT_TRANSLATE_ENGINE=true
PROJECT_TRANSLATE_THIRDPARTY=false
