PROJECT_NAME=VIRUP
PROJECT_URL="https://gitlab.com/Dexter9313/virup"
PROJECT_DESCRIPTION="The VIrtual Reality Universe Project uses astrophysical data to propose a virtual reality visualization of it."
PROJECT_MAINTAINER="Florian Cabot <florian.cabot@epfl.ch>"
PROJECT_DIRECTORY=virup
PROJECT_ADDITIONAL_DEB_DEPENDENCIES=""
PROJECT_CHECK_FORMAT=false
PROJECT_CHECK_TIDY=false
PROJECT_DOC=false
PROJECT_DOC_ENGINE=true
PROJECT_DOC_THIRDPARTY=false
PROJECT_TRANSLATE=true
PROJECT_TRANSLATE_ENGINE=true
PROJECT_TRANSLATE_THIRDPARTY=false
